@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 81.25%;
}

body {
  background-color: #f6f8f8;
}

#main-container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
#main-container a,
#main-container p,
#main-container li,
#main-container h1,
#main-container h2,
#main-container h3,
#main-container h4 {
  text-decoration: none;
  list-style: none;
}
#main-container .small {
  font-weight: normal;
  font-size: 1.12rem;
}
#main-container h1 {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #242929;
  margin-bottom: 0.6em;
  line-height: 1em;
}
#main-container p,
#main-container li {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.45;
  color: #3e4242;
}
#main-container p {
  margin-bottom: 1.2em;
}
#main-container h1, #main-container h2, #main-container h3, #main-container h4, #main-container h5, #main-container h6, #main-container .header {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #242929;
  margin-bottom: 0.6em;
  line-height: 1.3;
}
#main-container .p-t-lg {
  padding-top: 3rem !important;
}
#main-container .rule-lg {
  border: none;
  border-bottom: 4px solid #242929;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
#main-container .p-b-3xl {
  padding-bottom: 13rem !important;
}
#main-container .p-b-xl {
  padding-bottom: 5rem !important;
}
#main-container img,
#main-container .featured-image,
#main-container .cs-thumb-image,
#main-container .thumb {
  border-radius: 0.4rem;
}
#main-container nav {
  max-width: 1440px;
  position: fixed;
  float: right;
  background-color: #f6f8f8;
  display: flex;
  justify-content: start;
  width: 100%;
  margin: 0 auto;
  border-bottom: 0.5px solid #444;
  z-index: 2;
  align-items: center;
}
#main-container nav .nav-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}
#main-container nav .nav-brand .brand-logo {
  font-size: 1.4rem;
  text-decoration: none;
  display: inline-flex;
  height: 100%;
  transition: all 0.2s ease;
  color: #242929;
  line-height: 1;
  align-items: center;
  font-weight: bold;
  padding: 0;
}
#main-container nav .nav-brand .nav-menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0;
  justify-content: center;
}
#main-container nav .nav-brand .nav-menu li a {
  font-size: 15.6px;
  display: flex;
  align-items: center;
  height: 100%;
  color: #3e4242;
  text-decoration: none;
  padding: 1.8rem 0.25rem 1.6rem;
  border-bottom: 3px solid transparent;
  background-image: none;
}
#main-container main {
  background-color: #f6f8f8;
  max-width: 100vw;
  padding-top: 6.6rem;
  position: relative;
}
#main-container main .display-highlight {
  font-size: 9rem;
  margin-bottom: 0.5em;
  line-height: 1;
  letter-spacing: -0.05em;
}
#main-container main .subtitle {
  font-size: 2.3rem;
  letter-spacing: -0.01em;
}
#main-container main .cs-thumb {
  display: block;
  background-color: transparent;
  min-height: 350px;
  width: 95%;
  overflow: hidden;
  position: relative;
}
#main-container main .cs-thumb .cs-thumb-image {
  display: block;
  height: 100%;
  width: 100%;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.6s ease;
  position: absolute;
}
#main-container main .cs-thumb .first {
  background-image: url("../imges/first.png");
}
#main-container main .cs-thumb .second {
  background-image: url("../imges/second.png");
}
#main-container main .cs-thumb .third {
  background-image: url("../imges/third.png");
}
#main-container main .case-study-feature-item {
  display: block;
  padding: 1.5rem 1.5rem;
  margin: -1rem -1.5rem 0;
  transition: all 0.4s ease;
}
#main-container main .case-study-feature-item .title-block .project-status {
  display: block;
  margin-bottom: 1em;
}
#main-container main .case-study-feature-item .title-block .overline {
  font-size: 0.8em;
  line-height: 1;
  color: #585e5e;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 0.4em;
}
#main-container main .case-study-feature-item .title-block p {
  font-size: 1.8rem;
}
#main-container main .case-study-feature-item:hover {
  background-color: #fcfdfd;
  box-shadow: 0 0.2rem 0.65rem rgba(53, 63, 74, 0.1);
}
#main-container main .case-study-feature-item:hover .first {
  transform: scale(1.05);
}
#main-container main .case-study-feature-item:hover .second {
  transform: scale(1.05);
}
#main-container main .case-study-feature-item:hover .third {
  transform: scale(1.05);
}
#main-container main .sticky {
  position: sticky;
}
#main-container main .sticky h2 {
  font-size: 1.4rem;
}

@media screen and (max-width: 1440px) {
  #main-container {
    max-width: 88vw;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
  }
}
@media screen and (max-width: 1099px) {
  #main-container .display-highlight {
    font-size: 5.55rem !important;
    letter-spacing: -0.05em;
  }
  p,
  li {
    font-size: 1.272rem;
  }
}
@media screen and (max-width: 767px) {
  #main-container .display-highlight {
    font-size: 3.2rem !important;
    letter-spacing: -0.05em;
  }
  p,
  li {
    font-size: 1.185rem;
  }
}/*# sourceMappingURL=style.css.map */