@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 81.25%;
}

body {
  background-color: #f6f8f8;
  overflow-x: hidden;
}

a,
p,
li {
  text-decoration: none;
  list-style: none;
}

.small {
  font-weight: normal;
  font-size: 1.12rem;
}

h1 {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #242929;
  margin-bottom: 0.6em;
  line-height: 1em;
}

p,
li {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.45;
  color: #3e4242;
}

p {
  margin-bottom: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #242929;
  margin-bottom: 0.6em;
  line-height: 1.3;
  text-decoration: none;
  list-style: none;
  width: 100%;
}

.wp-caption-text,
small,
small p,
.small,
p.small,
footer {
  font-size: 80%;
  line-height: 155%;
}

img,
.featured-image,
.cs-thumb-image,
.thumb {
  border-radius: 0.4rem;
}

.p-t-lg {
  padding-top: 3rem !important;
}

.rule-lg {
  border: none;
  border-bottom: 4px solid #242929;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.p-b-3xl {
  padding-bottom: 13rem !important;
}

.p-b-xl {
  padding-bottom: 5rem !important;
}

.p-t-2xl {
  padding-top: 8rem !important;
}

p.intro {
  font-size: 2.3rem;
}

#main-container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  position: relative;
}
#main-container .swiper {
  width: 100%;
  height: 100%;
}
#main-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 493px;
  display: flex;
  padding: 2em 0;
  justify-content: center;
  align-items: center;
}
#main-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main-container .container-menu {
  background-color: #000000;
  display: relative;
}
#main-container .container-menu .content-menu {
  transition: 1s transform;
  height: 100vh;
  width: 95vw;
  background-color: #f6f8f8;
  position: fixed;
  top: 0%;
  z-index: 999;
  right: 0%;
  box-shadow: -60px 0 60px 30px rgba(0, 0, 0, 0.6);
}
#main-container .container-menu .content-menu .nav-menu {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}
#main-container .container-menu .content-menu .nav-menu li {
  border-bottom: 1px solid #ccc;
  padding: 0.7em 0em;
}
#main-container .container-menu .content-menu .nav-menu li a {
  color: #000000;
}
#main-container .container-menu .close {
  transform: translateX(200%);
}
#main-container .container-menu .open {
  transform: translateX(0%);
}
#main-container nav {
  position: fixed;
  background-color: #f6f8f8;
  max-width: 1540px;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  border-bottom: 1px solid #9ea5a5;
}
#main-container nav .nav-brand {
  display: flex;
  max-height: 60px;
  max-width: 88vw;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  gap: 5vw;
}
#main-container nav .nav-brand .brand-logo {
  font-size: 1.4rem;
  text-decoration: none;
  display: inline-flex;
  height: 100%;
  transition: all 0.2s ease;
  color: #242929;
  line-height: 1;
  align-items: center;
  padding: 1.8rem 0.25rem 1.6rem;
  font-weight: bold;
}
#main-container .mobile-header {
  display: none;
  position: relative;
}
#main-container .desktop-header {
  min-height: 60px;
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: #f5f8f7;
  border-bottom: 1px solid #9ea5a5;
}
#main-container .desktop-header .desktop-header-inner {
  width: 88vw !important;
  margin: 0 auto;
  display: flex;
  padding: 0.7rem 0;
}
#main-container .desktop-header .desktop-header-inner .nav-brand {
  display: flex;
  max-height: 60px;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}
#main-container .desktop-header .desktop-header-inner .nav-brand .brand-logo {
  font-size: 1.4rem;
  text-decoration: none;
  display: inline-flex;
  height: 100%;
  transition: all 0.2s ease;
  color: #242929;
  line-height: 1;
  align-items: center;
  padding: 1.8rem 0.25rem 1.6rem;
  font-weight: bold;
}
#main-container .desktop-header .desktop-header-inner .nav-brand .nav-menu {
  display: flex;
  gap: 1rem;
  min-height: 60px;
  align-items: center;
  margin: 0;
  justify-content: center;
}
#main-container .desktop-header .desktop-header-inner .nav-brand .nav-menu li a {
  font-size: 15.6px;
  display: flex;
  align-items: center;
  height: 100%;
  color: #3e4242;
  text-decoration: none;
  padding: 1.8rem 0.25rem 1.6rem;
  border-bottom: 3px solid transparent;
  background-image: none;
}
#main-container .navbar-toggle {
  position: fixed;
  right: 0;
  bottom: 0%;
  z-index: 999;
  height: 60px;
  width: 60px;
  color: #000000;
  background-color: #2d69ad;
  transition: all 0.2s ease;
  overflow: hidden;
  cursor: pointer;
}
#main-container .navbar-toggle span {
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  margin-left: -10px;
  transition: all 0.4s ease;
  opacity: 0.7;
  left: 50%;
}
#main-container .navbar-toggle .one {
  top: 50%;
  background-color: #f5f8f7;
  margin-top: -7px;
}
#main-container .navbar-toggle .two {
  top: 50%;
  margin-top: -1px;
  background-color: #f5f8f7;
}
#main-container .navbar-toggle .three {
  top: 50%;
  margin-top: 5px;
  background-color: #f5f8f7;
}
#main-container main {
  background-color: #f6f8f8;
  padding-top: 8.1rem;
}
#main-container main .display-highlight {
  font-size: 9rem;
  margin-bottom: 0.5em;
  line-height: 1;
  letter-spacing: -0.05em;
}
#main-container main .subtitle {
  font-size: 2.3rem;
  letter-spacing: -0.01em;
}
#main-container main .cs-thumb {
  display: block;
  background-color: transparent;
  min-height: 350px;
  overflow: hidden;
  position: relative;
}
#main-container main .cs-thumb .cs-thumb-image {
  display: block;
  height: 100%;
  width: 100%;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.6s ease;
  position: absolute;
}
#main-container main .cs-thumb .first {
  background-image: url("../imges/first.png");
}
#main-container main .cs-thumb .second {
  background-image: url("../imges/second.png");
}
#main-container main .cs-thumb .third {
  background-image: url("../imges/third.png");
}
#main-container main .case-study-feature-item {
  display: block;
  padding: 1.5rem 1.5rem;
  margin: -1rem -1.5rem 0;
  transition: all 0.4s ease;
}
#main-container main .case-study-feature-item .title-block .project-status {
  display: block;
  margin-bottom: 1em;
}
#main-container main .case-study-feature-item .title-block .overline {
  font-size: 0.8em;
  line-height: 1;
  color: #585e5e;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 0.4em;
}
#main-container main .case-study-feature-item .title-block p {
  font-size: 1.8rem;
}
#main-container main .sticky {
  position: sticky;
  top: calc(80px + 1rem) !important;
}
#main-container main .sticky h2 {
  font-size: 1.4rem;
}
#main-container main .case-study-feature-item:hover {
  background-color: #fcfdfd;
  box-shadow: 0 0.2rem 0.65rem rgba(53, 63, 74, 0.1);
}
#main-container main .case-study-feature-item:hover .first {
  transform: scale(1.05);
}
#main-container main .case-study-feature-item:hover .second {
  transform: scale(1.05);
}
#main-container main .case-study-feature-item:hover .third {
  transform: scale(1.05);
}
#main-container main .main-page-intro {
  padding: 2rem 0 4rem;
}

footer {
  background-color: #383e3e;
  padding: 4rem 0;
  width: 100vw !important;
}
footer .site-footer {
  background-color: #383e3e;
}
footer .text-not-dark h1,
footer .text-not-dark h2,
footer .text-not-dark h3,
footer .text-not-dark h4,
footer .text-not-dark h5,
footer .text-not-dark h6,
footer .text-not-dark p {
  color: inherit;
  border-color: inherit;
}
footer p {
  color: #ccc !important;
}

@media screen and (max-width: 1440px) {
  #main-container {
    margin: 0 auto;
    width: 88vw !important;
    font-family: "Inter", sans-serif;
  }
}
@media screen and (max-width: 1099px) {
  #main-container .display-highlight {
    font-size: 5.55rem !important;
    letter-spacing: -0.05em;
  }
  p,
  li {
    font-size: 1.272rem;
  }
}
@media screen and (max-width: 767px) {
  #main-container .display-highlight {
    font-size: 3.2rem !important;
    letter-spacing: -0.05em;
  }
  p,
  li {
    font-size: 1.185rem;
  }
}
@media only screen and (min-width: 767px) {
  .navbar-toggle {
    position: absolute;
    top: 0% !important;
  }
}
@media only screen and (max-width: 993px) {
  .desktop-header {
    display: none !important;
  }
  .mobile-header {
    display: block !important;
  }
  .sticky {
    position: static !important;
    padding: 2em 0;
  }
  .sticky h2 {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 993px) {
  .navbar-toggle {
    display: none;
  }
  .container-menu {
    display: none;
  }
}
.hide {
  display: none !important;
}/*# sourceMappingURL=style.css.map */